#!/usr/bin/zsh

alias docker="sudo docker"

# Easier navigation: .., ..., ...., ~
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~"

#
alias tailf="tail -f"

#
alias less="less -S "
alias les="less -S "
alias le="less -S "

# Git aliases
alias ga='git add'
alias gc='git commit --verbose'
alias gcmsg='git commit --message'
alias glog='git log --oneline --decorate --graph'
alias gst='git status'

# Aliases for OVN trace
alias ovn-nbctl="docker exec -ti ovn_nb_db ovn-nbctl --no-leader-only"
alias ovn-sbctl="docker exec -ti ovn_sb_db ovn-sbctl --no-leader-only"
alias ovn-trace="docker exec -ti ovn_sb_db ovn-trace --no-leader-only"
alias ovs-ofctl="docker exec -ti openvswitch_vswitchd ovs-ofctl"
alias ovs-vsctl="docker exec -ti openvswitch_vswitchd ovs-vsctl"
alias ovs-appctl="docker exec -ti openvswitch_vswitchd ovs-appctl"
alias ovs-tcpundump="docker exec -ti openvswitch_vswitchd ovs-tcpundump"
alias ovs-tcpdump="docker exec -ti openvswitch_vswitchd ovs-tcpdump"
alias ovn-detrace="docker exec -ti ovn_nb_db ovn-detrace"

alias virsh="docker exec -ti nova_libvirt virsh"

alias ops="openstack "

export DEBIAN_FRONTEND=noninteractive

SOURCE_DIR=$( cd "$( dirname "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )
VIMCONFIG="$SOURCE_DIR/vimrc"
if [[ -f $VIMCONFIG ]]; then
    alias vim="vim --startuptime /tmp/vim -u $VIMCONFIG"
elif [[ -L $VIMCONFIG ]]; then
    alias vim="vim --startuptime /tmp/vim -u $VIMCONFIG"
fi
VIMCONFIG="$SOURCE_DIR/.vimrc"
if [[ -f $VIMCONFIG ]]; then
    alias vim="vim --startuptime /tmp/vim -u $VIMCONFIG"
elif [[ -L $VIMCONFIG ]]; then
    alias vim="vim --startuptime /tmp/vim -u $VIMCONFIG"
fi
