alias ovn-nbctl="docker exec -ti ovn_nb_db ovn-nbctl --no-leader-only"
alias ovn-sbctl="docker exec -ti ovn_sb_db ovn-sbctl --no-leader-only"
alias ovs-ofctl="docker exec -ti openvswitch_vswitchd ovs-ofctl"
alias ovs-vsctl="docker exec -ti openvswitch_vswitchd ovs-vsctl"
alias ovs-appctl="docker exec -ti openvswitch_vswitchd ovs-appctl"

alias virsh="docker exec -ti nova_libvirt virsh"

export DEBIAN_FRONTEND=noninteractive

SOURCE_DIR=$( cd "$( dirname "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )
VIMCONFIG="$SOURCE_DIR/vimrc"
if [[ -f $VIMCONFIG ]]; then
    alias vim="vim -u $VIMCONFIG"
fi
